.recents {
  padding: 30px;
  box-sizing: border-box;

  &_Topic {
    font-size: 22px;
    font-weight: 700;
  }

  &_CreateBtn {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
  }

  &_List {
    margin-top: 30px;
  }

  &_Collaboration {
    margin-top: 30px;

    &_Title {
      font-size: 18px;
      font-weight: 700;
    }
    &_Table {
      padding-top: 30px;
    }
  }


}

.createbtn_All {
  height: 80px;
  border-radius: 13px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    background-color: var(--color-bg-hover);
  }
  .createbtn_Icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 20px;
  }
  .createbtn_Text {
    font-size: 14px;
  }
}
