// 全局样式
* {
  padding: 0;
  margin: 0;
}

:root {
  --color-border: #e6e6e6;
  --color-bg-hover: #f5f5f5;
  --color-bg-select: #E8F3FE;
  --color-bg-btn: #1677FF;
  --border-radius: 4px;
}


@font-face {
  font-family: "iconfont"; /* Project id 4873357 */
  src: url('//at.alicdn.com/t/c/font_4873357_d15pcjpv4ck.woff2?t=1745228636825') format('woff2'),
  url('//at.alicdn.com/t/c/font_4873357_d15pcjpv4ck.woff?t=1745228636825') format('woff'),
  url('//at.alicdn.com/t/c/font_4873357_d15pcjpv4ck.ttf?t=1745228636825') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhinengyouhua:before {
  content: "\e69a";
}

.icon-chengyuan:before {
  content: "\e601";
}

.icon-wenjian-L:before {
  content: "\e61f";
}

.icon-huabi:before {
  content: "\ea33";
}

.icon-xiangmu:before {
  content: "\e738";
}

.icon-xiangmu1:before {
  content: "\e630";
}

.icon-pingtaiiconhuizong_huaban1fuben5:before {
  content: "\e609";
}

.icon-shijian:before {
  content: "\e8a9";
}



